<!doctype html>
<html lang="zh-Hant-TW">
	<head>
		<title>台灣の死亡筆記本</title>
		<link rel="icon" href="/static/Image/icon.png?v=<%=version%>">

		<link rel="canonical" href="https://death-note.agawork.tw" />
		<meta property="og:url" content="https://death-note.agawork.tw" />

		<meta name="description" content="台灣 人口/健保/照護/死因 統計資料視覺化"/>
		<meta property="og:description" content="台灣 人口/健保/照護/死因 統計資料視覺化" />
		<meta property="og:site_name" content="DeathNoteTW" />
		<meta property="og:locale" content="zh_TW" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="DeathNoteTW" />
		<meta property="og:image" content="https://death-note.agawork.tw/static/Image/logo.png?v=<%=version%>" />

		<meta http-equiv="Content-Language" content="zh-tw" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/build/css/main.css?v=<%=version%>">
	</head>
	<body>
		<script src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.9/d3.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>

		<div id="app" class="death-note center">
			<div class="cover">
				<div id="svgMovie"></div>
				<div class="title">
					台灣の<br>死亡筆記本
				</div>
				<div class="chapter">
					<ul>
						<li>使用規則</li>
						<li>生の章</li>
						<li>老の章</li>
						<li>病の章</li>
						<li>死の章</li>
						<li>關於筆記本</li>
					</ul>
				</div>
			</div>
		</div>

		<script src="/static/bonsai-0.4.1.min.js"></script>
		<script src="/static/main.js?v=<%=version%>"></script>
	</body>
</html>