$transition-time: 0.5s;

//==============Responsive================
$pc-media: 1024px;
@mixin pc-width() {
    @media only screen and (min-width: $pc-media) {
        @content;
    }
}
//===================General======================
html, body { 
  height: 100%; margin: 0; padding: 0; 
  overflow: auto;
}

* {
    box-sizing: border-box;
    font-family: "微軟正黑體", "Microsoft JhengHei";
}

.center{
    display: block;
    margin: auto;
    clear: both;
    text-align: center;
}

.hide{
	display: none;
}

//==================================================
.death-note{
	width: 1024px;
	max-width: 100%;
	.cover{
		background-color: rgb(50,50,50);
		color: white;
		padding: 20px 0px;
		width: 100%;
		box-shadow: -5px 5px 5px rgb(25,25,25);
		
		#svgAnim{
			height: 250px;
			width: 300px;
			margin: auto;
		}
		.title{
			margin: 0px auto 30px auto;
			font-size: 2.5em;
			font-weight: bold;
			color: white;
			text-align: center;
		}
		.chapter{
			ul{
				list-style-type: none;
				margin: 0px;
				padding: 0px;
				li{
					font-size: 1.5em;
					line-height: 1.5em;
					cursor: pointer;
					&:hover{
						color: rgb(255,255,0);
					}
				}
			}
		}
	}
}
